*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --green: #42b883;
  --green-light: #42d392;
  --green-lighter: #35eb9a;
  --green-darker: #155f3e;
  --blue-dark: #3468a3;
  --blue-darker: #255489;
  --gray-dark-1: #636363;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

ul, li{
  list-style: none;
}

.simple-header{
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
}



a.btn-ir-entrevista,
button.btn-ir-entrevista{
  border: none;
  display: block;
  background: var(--blue-darker);
  color: white;
  padding:0.3rem 1rem;
  border-radius: 0.5rem;
  /* font-size: 1.2rem; */
  width: fit-content;
  text-transform: uppercase;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}
button.btn-ir-entrevista:hover{
  background: var(--green-darker);
}

.jf-l{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}